img.img-thumbnail {
    height: 150px;
    min-width: 150px !important;
    margin-bottom: 3px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.not-approved {
    opacity: 0.4;
}

.img-wrapper {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 50%;
    margin-left: 10px;
}